@charset "UTF-8";
body {
	margin: 0;
}

.container {
	margin: 0 auto 0 auto;
	padding: 0 16px 0 16px;
	max-width: 1000px;
}

.header-inner {
	padding: 10px 10px 0 10px;
	background: #BAD7F5;
}

.nav-inner {
	padding: 10px 10px 0 10px;
	color: #FFFFFF;
	background: #0086F9;
}

.content-inner {
	padding: 20px 10px 20px 10px;
	background: #FFFDE3;
	/*
    レイアウトのイメージをしやすいように高さを設定。
    通常のWebデザインではレイアウトで高さを指定しない
    */
	height: 400px;
}

.footer-inner {
	padding: 20px 16px 10px 16px;
	background: #BAD7F5;
}


/* わかりやすくするために適用しているCSS */

body {
	color: #444444;
}

main p:last-child {
	margin-bottom: 0;
}

.main-title {
	margin: 0;
}

.copyright {
	margin: 0;
}