@charset "UTF-8";
html {
    font-size: 62.5%;
}
body {
    color: #333333;
    font-size: 1.2rem;
    font-family:  "Hiragino Kaku Gothic ProN",  Meiryo,  sans-serif;
}
.float-clear {
    overflow: hidden;
}

a {
    text-decoration: none;
}
li {
    list-style-type: none;
}
h2 {
    padding: 10px 12px;
    background: url(../images/bg-slash.gif);
    letter-spacing: 1px;
    font-size: 1.6rem;
}
/*---------------------------------------------------------------------
 HEADER
 ---------------------------------------------------------------------*/
header {
    text-align: center;
    padding: 28px 0 10px;
    background: url(../images/bg-header.gif) repeat-x;
    box-shadow: 0 0 10px 1px #e3e3e3;
}
.header-inner a {
    display: block;
    margin: 0 auto;
    width: 225px;
    height: 56px;
    background: url(../images/logo.png) no-repeat;
}
.nav-wrapper {
    margin-top: 15px;
}
.nav-inner li {
    display: inline-block;
    box-sizing: border-box;
    margin: 0 10px;
}
.nav-inner a {
    display: inline-block;
    width: 100px;
    height: 30px;
    border-radius: 8px;
    text-align: center;
    line-height: 30px;
    font-size: 1.3rem;
    text-decoration: none;
    letter-spacing: 1px;
    color: #666666;
    transition: 0.15s;
}
.nav-inner a:hover {
    background-color: #D03C56;
    color: #FFFFFF;
}

/*---------------------------------------------------------------------
 SECTION
 ---------------------------------------------------------------------*/
section {
    width: 970px;
    margin: 30px auto 40px;
}
main {
    float: left;
    width: 660px;
}
/*---------------------------------------------------------------------*/

.main-top {
    display: block;
    height: 300px;
    margin-bottom: 30px;
    box-shadow: 0 6px 4px -4px rgba(0, 0, 0, 0.15);
}
.main-top:hover {
    opacity: 0.8;
}
.main-image {
    float: left;
    width: 50%;
    height: 100%;
}
.top-inner {
    position: relative;
    float: left;
    box-sizing: border-box;
    width: 50%;
    height: 100%;
    padding: 105px 25px 0;
    background-color: #2D3D54;
    line-height: 1.6;
}
.top-inner .top-data {
    position: absolute;
    top: 60px;
    left: 0;
    width: 140px;
    padding: 4px;
    box-sizing: border-box;
    background-color: #FFFFFF;
    color: #2D3D54;
    text-align: center;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 1.1rem;
    line-height: 1;
}
.top-inner h3 {
    margin-bottom: 15px;
    color: #FFFFFF;
    font-weight: normal;
    font-size: 2.0rem;
}
.top-inner p {
    color: #DDDDCC;
}
/*---------------------------------------------------------------------*/
.main-news ol {
    margin-bottom: 30px;
}
.main-news li:nth-child(even) > a {
    background: url(../images/bg-slash.gif);
}
.main-news a {
    display: block;
    padding: 10px 15px;
    color: #666666;
    transition: background-color 0.1s;
}
.main-news li > a:hover {
    background-color: #FAFAF8;
}
.news-date {
    display: inline-block;
    width: 19%;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 1.0rem;
}
.news-category {
    display: inline-block;
    width: 8%;
    border-radius: 5px;
    color: #FFFFFF;
    text-align: center;
    letter-spacing: 1px;
    font-size: 1.0rem;
    line-height: 16px;
}
.news-category.news {
    background-color: #2C3C53;
}
.news-category.topic {
    background-color: #D03C56;
}
.news-description {
    display: inline-block;
    box-sizing: border-box;
    width: 73%;
    padding-left: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 1.2rem;
}
/*---------------------------------------------------------------------*/
.article-box {
    position: relative;
    float: left;
    box-sizing: border-box;
    width: 315px;
    height: 360px;
    margin-bottom: 30px;
    padding: 210px 15px 0;
    box-shadow: 6px 6px 8px -4px rgba(0, 0, 0, 0.15);
    transition: opacity 0.15s;
}
.article-box:hover {
    opacity: 0.8;
}
.article-box:nth-of-type(even){
    float: right;
}
.article-box img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.article-box h3 {
    margin-top: 30px;
    font-size: 1.4rem;
    line-height: 1.6;
    color: #555555;
}
.article-box p {
    margin-top: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #333333;
}
.article-box .article-date {
    position: absolute;
    right: 0;
    bottom: 15px;
    display: block;
    width: 160px;
    padding: 4px;
    background-color: #B5D264;
    color: #2D3D54;
    text-align: center;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 1.1rem;
}
/*---------------------------------------------------------------------*/
aside {
    float: right;
    width: 275px;
}
/*---------------------------------------------------------------------*/
.ranking-wrapper {
    margin-bottom: 30px;
}
.ranking-wrapper li > a {
    margin-top: 15px;
    display: block;
    font-size: 0;
}
.ranking-wrapper li > a:hover {
    opacity: 0.8;
}
.ranking-wrapper li > a > img {
    vertical-align: bottom;
}
.rank {
    display: inline-block;
    box-sizing: border-box;
    width: 18px;
    height: 18px;
    margin: 0 10px;
    vertical-align: 20px;
    text-align: center;
    transform: rotate(45deg);
}
.rank::before {
    content: "";
    display: inline-block;
    transform: rotate(-45deg);
    font-size: 1.0rem;
    line-height: 18px;
}
.rank-1st {
    background-color: #DAB413;
}
.rank-1st::before {
    content: "1";
}
.rank-2nd {
    background-color: #6E7B84;
}
.rank-2nd::before {
    content: "2";
}
.rank-3rd {
    background-color: #A0541A;
}
.rank-3rd::before {
    content: "3";
}
.rank-1st::before,
.rank-2nd::before,
.rank-3rd::before {
    color: #FFFFFF;
}
.rank-lower {
    border: 1px solid #CCCCCC;
    color: #AAAAAA;
}
.rank-lower::before {
        font-weight: bold;
    line-height: 16px;
}
.rank-4th::before {
    content: "4";
}
.rank-5th::before {
    content: "5";
}
.rank-6th::before {
    content: "6";
}
.rank-7th::before {
    content: "7";
}
.rank-title {
    display: inline-block;
    width: 182px;
    color: #000000;
    vertical-align: top;
    font-size: 1.2rem;
    line-height: 1.5;
}
/*---------------------------------------------------------------------*/
.documents-inner {
    margin: 10px 10px 30px;
}
.documents-inner dt {
    margin: 15px 0;
    padding-left: 8px;
    border-left: 5px solid #D03C56;
    font-size: 1.4rem;
    line-height: 1.2;
    font-weight: bold;
}
.documents-inner ul {
    margin: 15px;
}
.documents-inner dl + dl {
    margin-top: 25px;
}
.documents-inner li > a {
    display: block;
    color: #D03C56;
    margin-bottom: 15px;
    padding-left: 10px;
    background: url(../images/arrow.gif) no-repeat left center;
}
.documents-inner li {
    margin-left: 0;
}
/*---------------------------------------------------------------------*/
.search {
    padding: 15px;
    background-color: #CCCCCC;
    font-size: 0;
}
input[type="search"] {
    width: 205px;
    height: 26px;
    padding: 0 10px;
    border: none;
}
input[type="submit"] {
    width: 40px;
    height: 26px;
    border: none;
    background-color: #D03C56;
    color: #FFFFFF;
}
.search p {
    margin-top: 12px;
    font-size: 1.2rem;
}
/*---------------------------------------------------------------------
 FOOTER
 ---------------------------------------------------------------------*/
.footer-wrapper {
    padding: 20px 0 30px;
    background: #2D3D54 url(../images/bg-footer.gif);
    color: #FFFFFF;
}
.footer-inner ul {
    width: 970px;
    margin: 0 auto;
    text-align: right;
}
.footer-inner li {
    display: inline-block;
    padding: 0 15px;
    letter-spacing: 1px;
    border-right: 1px solid #BBBBBB;
}
.footer-inner li:last-child {
    border-right: none;
}
.footer-inner li > a {
    border-bottom: 1px dashed #777777;
    color: #BBBBBB;
    font-size: 1.1rem;
}
.copyright {
    display: block;
    margin: 30px auto 0;
    letter-spacing: 1px;
}